.kMeansComponentContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
}

.kMeansFieldContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.kMeansField button {
    width: 85vw;
    max-width: 600px;
    height: 60px;
}

.helperTextKMeans {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.helperTextKMeans h6 {
    max-width: 800px;
}

@media screen and (max-width: 767px) {
    .kMeansFieldContainer h6 {
        max-width: 85vw;
    }

    .helperTextKMeans h6 {
        max-width: 85vw;
    }
}
