.logRegFieldContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
}

.logRegField > div {
    width: 85vw;
    max-width: 600px;
}

.logRegField > div > div {
    height: 60px;
}

.logRegField button {
    width: 85vw;
    max-width: 600px;
    height: 60px;
}

.helperTextLogReg {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.helperTextLogReg h6 {
    max-width: 800px;
    text-align: justify;
    text-shadow: 1px 1px rgba(92, 107, 192, 0.2);
}

@media screen and (max-width: 767px) {
    .logRegFieldContainer h6 {
        max-width: 85vw;
    }

    .helperTextLogReg h6 {
        max-width: 85vw;
    }
}
